1st. Course/Exercises/XML/XML Definition of schemas and vocabularies in XML - XSD/Exercise 11/equipos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="cantidad">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="7"/>
      <xs:maxInclusive value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="equipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="nacionalidad" type="xs:string"/>
        <xs:element name="cantidadciclistas" type="cantidad"/>
        <xs:element name="marcabici" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
