1st. Course/Exercises/XML/XML Definition of schemas and vocabularies in XML - XSD/Exercise 6/equipos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="equipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="nacionalidad" type="xs:string"/>
        <xs:element name="cantidadciclistas" type="xs:int"/>
        <xs:element name="marcabici" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
